<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.task">

    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
            android:name=".stetho.SubApplication"
            android:allowBackup="true"
            android:icon="@mipmap/logo_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/logo_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".splashScreen.SplashActivity"
                android:noHistory="true"
                android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:launchMode="singleTop"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".taskDetail.TaskDetailActivity"
                  android:parentActivityName=".MainActivity"/>

        <activity android:name=".CreateTask"
                  android:parentActivityName=".MainActivity"/>
    </application>

</manifest>